<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery__title title">ГАЛЕРЕЯ</h2>
    <ul class="gallery__content">
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-desktop.webp    1x,
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-desktop@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-desktop.jpg    1x,
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-tablet.webp    1x,
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-tablet@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-tablet.jpg    1x,
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-mobile.webp    1x,
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-mobile@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-mobile.jpg    1x,
                ./images/Main-page/Gallery-section/inzhenernye-metodu-analiza-i-kintrolia-kachestva-mobile@2x.jpg 2x
              "
            />
            <img class="gallery__img" src="# " alt="Контроль якості" />
          </picture>
          <h3 class="gallery__desc">Інженерні методи аналізу та контролю якості</h3>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-desktop.webp    1x,
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-desktop@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-desktop.jpg    1x,
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-tablet.webp    1x,
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-tablet@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-tablet.jpg    1x,
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-mobile.webp    1x,
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-mobile@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-mobile.jpg    1x,
                ./images/Main-page/Gallery-section/vusokotochnoe-3d-skanirovanie-mobile@2x.jpg 2x
              "
            />
            <img class="gallery__img" src="# " alt="Сканування" />
          </picture>
          <h3 class="gallery__desc">Високоточне 3D сканування</h3>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-desktop.webp    1x,
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-desktop@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-desktop.jpg    1x,
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-tablet.webp    1x,
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-tablet@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-tablet.jpg    1x,
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-mobile.webp    1x,
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-mobile@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-mobile.jpg    1x,
                ./images/Main-page/Gallery-section/sozdanie-tochnoy-kopii-na-baze-skanirivanya-mobile@2x.jpg 2x
              "
            />
            <img class="gallery__img" src="# " alt="Сканування" />
          </picture>
          <h3 class="gallery__desc">
            Створення точної копії на базі сканування reverse engineering
          </h3>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-desktop.webp    1x,
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-desktop@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-desktop.jpg    1x,
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-tablet.webp    1x,
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-tablet@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-tablet.jpg    1x,
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-mobile.webp    1x,
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-mobile@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-mobile.jpg    1x,
                ./images/Main-page/Gallery-section/vse-cuklu-proektirovanya-mobile@2x.jpg 2x
              "
            />
            <img class="gallery__img" src="# " alt="Фотореалістичні цифрові моделі" />
          </picture>
          <h3 class="gallery__desc">
            Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
          </h3>
        </a>
      </li>
    </ul>
  </div>
</section>
