<section class="hero">
  <div class="container">
    <div class="hero__title-container">
      <h1 class="hero__title">Інженерна, конструкторська та дизайнерська робота</h1>
    </div>

    <div class="anchor-container">
      <ul class="hero_content">
        <li class="hero__items">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img1-desktop.webp    1x,
                ./images/Main-page/Hero-section/Hero-img1-desktop@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img1-desktop.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img1-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img1-tablet.webp    1x,
                ./images/Main-page/Hero-section/Hero-img1-tablet@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img1-tablet.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img1-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img1-mobile.webp    1x,
                ./images/Main-page/Hero-section/Hero-img1-mobile@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img1-mobile.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img1-mobile@2x.jpg 2x
              "
            />
            <img class="hero__img hero__img1" src="#" alt="Робот" />
          </picture>
        </li>
        <li class="hero__items">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img2-desktop.webp    1x,
                ./images/Main-page/Hero-section/Hero-img2-desktop@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img2-desktop.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img2-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img2-tablet.webp    1x,
                ./images/Main-page/Hero-section/Hero-img2-tablet@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img2-tablet.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img2-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img2-mobile.webp    1x,
                ./images/Main-page/Hero-section/Hero-img2-mobile@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img2-mobile.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img2-mobile@2x.jpg 2x
              "
            />
            <img class="hero__img hero__img2" src="#" alt="Робот" />
          </picture>
        </li>
        <li class="hero__items">
          <picture>
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img3-desktop.webp    1x,
                ./images/Main-page/Hero-section/Hero-img3-desktop@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img3-desktop.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img3-desktop@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img3-tablet.webp    1x,
                ./images/Main-page/Hero-section/Hero-img3-tablet@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img3-tablet.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img3-tablet@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img3-mobile.webp    1x,
                ./images/Main-page/Hero-section/Hero-img3-mobile@2x.webp 2x
              "
              type="img/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/Main-page/Hero-section/Hero-img3-mobile.jpg    1x,
                ./images/Main-page/Hero-section/Hero-img3-mobile@2x.jpg 2x
              "
            />
            <img class="hero__img hero__img3" src="# " alt="Робот" />
          </picture>
        </li>
      </ul>
      <a href="#gallery">
        <svg
          class="anchor-svg"
          width="20"
          height="29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 0a1 1 0 00-1 1v23.586l-6.292-6.294a1.001 1.001 0 10-1.416 1.416l8 8a1 1 0 001.416 0l8-8a1.003 1.003 0 00-.708-1.71c-.265 0-.52.106-.708.294L11 24.586V1a1 1 0 00-1-1z"
            fill="#008CEF"
          />
        </svg>
      </a>
    </div>
    <p class="hero__desc">Ми втілюємо ідеї в реальність</p>
  </div>
</section>
