<section class="more-foto">
  <div class="container">
    <h2 class="more-foto__title">БІЛЬШЕ ФОТО</h2>

    <ul class="more-foto__item">
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image1-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image1-tablet.jpg"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/Main-page/More-photo-section/galery-image1-mobile.jpg"
          />
          <img
            type="button"
            data-modal-open
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image1-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image2-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image2-tablet.jpg"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/Main-page/More-photo-section/galery-image2-mobile.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image2-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image3-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image3-tablet.jpg"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/Main-page/More-photo-section/galery-image3-mobile.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image3-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image4-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image4-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image4-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image5-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image5-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image5-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image6-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image6-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image6-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image7-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image7-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image7-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image8-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image8-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image8-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image9-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image9-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image9-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image10-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image10-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image10-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image11-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image11-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image11-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
      <li class="more-foto__list">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image12-desktop.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image12-tablet.jpg"
          />
          <img
            class="more-foto__img"
            src="./images/Main-page/More-photo-section/galery-image12-desktop.jpg"
            alt=""
          />
        </picture>
      </li>
    </ul>
    <div class="more-foto__backdrop is-hidden" data-modal>
      <button type="button" class="backdrop__btn-close" data-modal-close>X</button>
      <div>
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="./images/Main-page/More-photo-section/galery-image1-desktop@2x.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/Main-page/More-photo-section/galery-image1-tablet@2x.jpg"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/Main-page/More-photo-section/galery-image1-mobile@2x.jpg"
          />
          <img
            class="more-foto__backdrop-img"
            src="./images/Main-page/More-photo-section/galery-image1-desktop@2x.jpg"
            alt=""
          />
        </picture>
      </div>
    </div>

    <button class="more-foto__btn" type="button"></button>
  </div>
</section>
