/* contacts info */

.contacts-data__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.28;
    color: var(--accent-color);
  }
  
  .contacts-data__list{
    margin-bottom: 76px;
  }
  
  .contacts-data__item:not(:last-child){
    margin-bottom: 24px;
  }
  
  .contacts-data__description{
    font-family: Cera Pro;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-text-color);
    margin-top: 8px;
  }
  
  .days{
    display: block;
    width: 100%;
  }