/* hero */
.hero-order_title {
  text-align: center;
  margin-bottom: 202px;
}
/* margin-bottom: 16px; */

.hero-order_container {
  background-image: url(../images/Take-order-page/order-image-mobile.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  background-position: 50% 20%;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
    .hero-section {
    background-image: url(../images/Take-order-page/order-image-mobile@2x.jpg);
  }
}

.heroto-description {
  font-family: Cera Pro;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-top: 16px;
}

@media screen and (max-width: 1443px) {
  .three-pict,
  .mosaic-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-order_container {
    background-image: url(../images/Take-order-page/order-image-tablet.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: 12% 100%;
  }

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
    background-image: url(../images/Take-order-page/order-image-tablet@2x.jpg);
  }
}

  .hero-order__wraper{
    display: block;
  }

  .hero-order_title {
    text-align: left;
    margin-bottom: 24px;
    padding-top: 24px;
  }

  .heroto-description:nth-child(-n + 1) {
    margin-top: 0px;
    margin-bottom: 16px;
  }

  .description-wraper {
    padding-left: 268px;
  }
}

@media screen and (min-width: 1444px) {
  .hero-order_container {
    background-image: url(../images/Take-order-page/order-image-desktop.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: 20% 62%;
  }

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px),
  (min-resolution: 192dpi) and (min-width: 1444px),
  (min-resolution: 2dppx) and (min-width: 1444px) {
    .hero-section {
    background-image: url(../images/Take-order-page/order-image-desktop@2x.jpg);
  }
}

  .heroto-description:nth-child(-n + 2) {
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 0px;
  }

  .description-wraper {
    padding-left: 552px;
    
  }
  .three-pict {
    background-image: url(../images/Take-order-page/three-image.jpg);
    background-repeat: no-repeat;
    background-position: 68% 54%;
    width: 580px;
    height: 250px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px),
  (min-resolution: 192dpi) and (min-width: 1444px),
  (min-resolution: 2dppx) and (min-width: 1444px) {
    .hero-section {
    background-image: url(../images/Take-order-page/three-image@2x.jpg);
  }
}