/* hero */
.title {
    text-align: center;
    margin-bottom: 16px;
  }
  
//     .hero-order-container {
//     background-image: url(../images/Take-order-page/order-image-mobile.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
//     border-radius: 15px;
//   }
  
  .heroto-description {
    font-family: Cera Pro;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-text-color);
    margin-top: 16px;
  }
  
  @media screen and (min-width: 768px) {
    .img{
      max-width: none;
    }
    .title{
      text-align: left;
      margin-bottom: 24px;
    }
  
    .hero-order__wraper{
      display: flex;
      align-items: center;
      justify-content: center;    
    }
    .heroto-description:not(:last-child){
      margin-top: 0px;
      margin-bottom: 16px;
    }
  
    .description-wraper{
      margin-left: 20px;
    }
  }

  @media screen and (min-width: 1444px){

  }