<!-- Мобільне меню -->
<div class="mobile-menu">
        <div class="container-mobile">
            
            <button type="button" class="burger-btn burger-btn--close">
                                <svg class="burger-btn__icon" width="45" height="45">
                                    <use href="./images/SVG-icon/svg_sprite-defs.svg#close_icon"></use>
                                </svg>
                            </button>
            <ul>
                <li><a href="">ГОЛОВНА</a></li>
                <li><a href="">ПОСЛУГИ</a>
                    <ul>
                        <li><a href="">3D Моделювання</a></li>
                        <li><a href="">3D Сканування</a></li>
                        <li><a href="">3D Друк</a></li>
                    </ul>
                </li>
                <li><a href="">ЗАМОВИТИ</a></li>
                <li><a href="">КОНТАКТИ</a></li>
            </ul>
        </div>
    </div>