<!-- footer -->
<footer class="footer">
  <div class="container footer-container">
    <div class="margin-footer footer-padding-logo">
      <a class="logo" href="./" lang="en">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/logo-image/3DFREEDOM192x48-desktop.png    1x,
              ./images/logo-image/3DFREEDOM384x96-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/logo-image/3DFREEDOM125x31-tablet.png    1x,
              ./images/logo-image/3DFREEDOM250x62-tablet@2x.png 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/logo-image/3DFREEDOM101x25-mobile.png    1x,
              ./images/logo-image/3DFREEDOM202x50-mobile@2x.png 2x
            "
          />

          <img
            class="about-list-img"
            src="#"
            alt="logo"
            width="192px"
            height="48px"
          />
        </picture>
      </a>
    </div>
    <div class="mobile-footer block-footer">
      <div>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a class="menu__studio" href="./">Головна</a>
          </li>
          <li class="footer-menu-item">
            <a class="menu__studio" href="./modeling.html">3D Моделювання</a>
          </li>
          <li class="footer-menu-item">
            <a class="menu__studio" href="./scanning.html">3D Сканування</a>
          </li>
          <li class="footer-menu-item">
            <a class="menu__studio" href="./printing.html">3D Друк</a>
          </li>
          <li class="footer-menu-item">
            <a class="menu__studio" href="./takeorder.html">Замовити</a>
          </li>
          <li class="footer-menu-item">
            <a class="menu__studio" href="./contacts.html">Контакти</a>
          </li>
        </ul>
      </div>
      <div class="footer-list-link">
        <ul class="footer-list">
          <li class="footer-menu-item">
            <a class="menu__studio" href="#">Instagram</a>
          </li>
          <li class="footer-menu-item">
            <a class="menu__studio" href="#">YouTube</a>
          </li>
          <li class="footer-menu-item">
            <a class="menu__studio" href="#">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="footer-lists-contacts">
        <ul class="footer-contacts__list">
          <li class="footer-contacts__link">
            <p class="footer-contacts__link-name">Email</p>
            <a
              class="menu-contacts mail__link"
              href="mailto:3dfreedom.info@gmail.com"
            >
              3dfreedom.info@gmail.com</a
            >
          </li>
          <li class="footer-contacts__link">
            <p class="footer-contacts__link-name">Телефони</p>
            <div>
              <a class="menu-contacts tel__link" href="tel:+380936432288">
                +38 (093) 643 22 88</a
              >
            </div>
            <div>
              <a class="menu-contacts tel__link" href="tel:+380503454423">
                +38 (050) 345 44 23</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
