/*-----Скидування стилів------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button,
.btn-svg {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

/*-------------Body--------------*/
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 300;

  background-image: url(../images/BG_pages/other_page/background_page-mobile.png);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/BG_pages/other_page/background_page-mobile@2x.png);
      }
}


  @media screen and (min-width: 768px) {
    body{
      background-image: url(../images/BG_pages/other_page/background_page-tablet.png);
      background-size: 768px;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/BG_pages/other_page/background_page-tablet@2x.png);
      }
    }  
  }

  @media screen and (min-width: 1444px) {
    body{
      background-image: url(../images/BG_pages/other_page/background_page-desktop.png);
      background-size: 1440px;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/BG_pages/other_page/background_page-desktop@2x.png);
      }
    }
  }

