@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*-----CSS змінні------*/
:root {
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #bdbdbd;
  --accent-color: #487996;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f5fa;
  --main-font: 'Cera Pro', sans-serif;
  --secondary-font: 'Caviar Dreams', sans-serif;
}

/* Приклад застосування:

@include font(16px, 700, 1.5); */
/* .my-box {
  padding: 10px;
  @include for-desktop {
    padding: 20px;
  }
} */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*-----Скидування стилів------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

/*-------------Body--------------*/
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 300;
}

/*-Контейнер для обмеження контенту по ширині-*/
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/*-Контейнер для обмеження контенту mobile-версії-*/
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

/*-Контейнер для обмеження контенту tablet-версії-*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/*-Контейнер для обмеження контенту desktop-версії-*/
@media screen and (min-width: 1444px) {
  .container {
    width: 1444px;
    padding-left: 189px;
    padding-right: 189px;
  }
}

/*-Стилі заголовка для mobile-версії-*/
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--accent-color);
}

/*-Стилі заголовка для tablet-версії-*/
@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
  }
}

/*-Стилі заголовка для desktop-версії-*/
@media screen and (min-width: 1444px) {
  .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
  }
}

/*-- Стилі для кнопки-- */
/*-- Стилі для кнопки в hero-- */
.button {
  padding: 16px 32px;
  -webkit-box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
          box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  border: none;
  background: var(--secondary-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--primary-background-color);
}

p {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5;
}

.footer {
  background-color: var(--secondary-background-color);
  -webkit-box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
          box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
}

.footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1444px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1444px) {
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .margin-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .margin-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1444px) {
  .margin-footer {
    padding-right: 136px;
  }
}

@media screen and (min-width: 1444px) {
  .footer-menu {
    padding-right: 87px;
  }
}

@media screen and (min-width: 768px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1444px) {
  .footer-list {
    padding-right: 145px;
  }
}

.footer-menu,
.footer-list,
.footer-contacts__list {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .footer-menu,
  .footer-list,
  .footer-contacts__list {
    text-align: center;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts__list {
    text-align: end;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts__list {
    text-align: start;
  }
}

.menu__studio {
  font-family: var(--main-font);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #2b2b2b;
  padding-bottom: 8px;
}

.menu-contacts {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #487996;
  text-decoration: none;
  padding-bottom: 8px;
}

.footer-contacts__link {
  padding-bottom: 16px;
}

.footer-contacts__link-name {
  padding-bottom: 8px;
}

.hero-mod {
  margin-top: 32px;
  margin-bottom: 52px;
}

.hero-mod__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.hero-mod__text,
.creation__item {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.hero-mod__text:not(:last-child) {
  margin-bottom: 16px;
}

.example {
  margin-bottom: 76px;
}

.creation {
  margin-bottom: 52px;
}

.creation__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.creation__item:not(:last-child) {
  margin-bottom: 16px;
}

.creation__item::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 3px 0px;
  background: var(--accent-color);
}

.example__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

.example__item {
  margin-top: 10px;
  margin-left: 10px;
  -ms-flex-preferred-size: calc((100% - 2 * 10px) / 2);
      flex-basis: calc((100% - 2 * 10px) / 2);
}

.example__img {
  height: 117px;
}

.wrapper-btn {
  margin-top: 52px;
  margin-bottom: 75px;
}

.hero3d__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.hero3d__text {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.hero3d__text:not(:last-child) {
  margin-bottom: 16px;
}

.jpg-scan {
  background-image: url(../images/3D-Scanning-page/Scanning_photo1-mobile.jpg);
  background-color: var(--primary-white-color);
  background-repeat: no-repeat;
  padding-bottom: 232px;
  background-position: 20% 100%;
}

@media screen and (min-width: 768px) {
  .hero3d__title {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .hero3d__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    padding-right: 135px;
  }
  .jpg-scan {
    background-image: url(../images/3D-Scanning-page/Scanning_photo1-tablet.jpg);
    background-color: var(--primary-white-color);
    background-repeat: no-repeat;
    background-position: 90% 95%;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .hero3d__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.28;
  }
  .hero3d__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.28;
    color: #e9127e;
  }
  .jpg-scan {
    background-image: url(../images/3D-Scanning-page/Scanning_photo1-desktop.jpg);
    background-color: var(--primary-white-color);
    background-repeat: no-repeat;
    background-position: 90% 95%;
    padding-bottom: 0px;
  }
}

.scanning3d__title {
  font-family: var(--main-font);
  font-style: normal;
  margin-top: 24px;
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.27;
  text-transform: uppercase;
  color: var(--accent-color);
}

.scanning3d__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.scanning3d__card {
  width: 133px;
  height: 182px;
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 14px;
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
      flex-basis: calc((100% - 2 * 15px) / 2);
  -webkit-box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #FFFFFF;
          box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #FFFFFF;
  border-radius: 50px 0px;
}

.scanning3d__card::before {
  content: url(../images/3D-Scanning-page/Scan_process1-mobile.png);
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.card3d__title {
  padding-top: 18px;
}

.button-scann {
  display: block;
  margin-top: 52px;
  margin-bottom: 76px;
}

@media screen and (min-width: 768px) {
  .scanning3d__title {
    margin-top: 52px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
  }
  .scanning3d__list {
    margin-top: -12px;
    margin-left: -12px;
  }
  .scanning3d__card {
    width: 153px;
    height: 210px;
    margin-top: 12px;
    margin-left: 12px;
    padding-top: 14px;
    overflow: hidden;
    -ms-flex-preferred-size: calc((100% - 4 * 12px) / 4);
        flex-basis: calc((100% - 4 * 12px) / 4);
    -webkit-box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #FFFFFF;
            box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #FFFFFF;
    border-radius: 50px 0px;
  }
  .scanning3d__card::before {
    content: url(../images/3D-Scanning-page/Scan_process1-mobile.png);
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
  }
  .button-scann {
    display: block;
    width: 280px;
    top: 0;
    left: 0;
    height: 56px;
    margin: auto;
  }
  .scanning3d__list {
    margin-bottom: 52px;
  }
  .btn-scann {
    margin-bottom: 76px;
  }
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.hero-order-section {
  border-radius: 15px;
}

.heroto-description:not(:last-child) {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.description__text {
  background-color: aqua;
}

.description__text-item {
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.smile {
  width: 22px;
  margin-left: 8px;
}

.smile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts-form {
  margin-top: 52px;
}

/* @import './example'; */
/*# sourceMappingURL=main.css.map */