@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*-----CSS змінні------*/
:root {
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #bdbdbd;
  --accent-color: #487996;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f5fa;
  --main-font: 'Cera Pro', sans-serif;
  --secondary-font: 'Caviar Dreams', sans-serif;
  --notice-color: rgba(205, 205, 205, 1);
}

/* Приклад застосування:

@include font(16px, 700, 1.5); */
/* .my-box {
  padding: 10px;
  @include for-desktop {
    padding: 20px;
  }
} */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*-----Скидування стилів------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button,
.btn-svg {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

/*-------------Body--------------*/
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 300;
  background-image: url(../images/BG_pages/other_page/background_page-mobile.png);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url(../images/BG_pages/other_page/background_page-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/BG_pages/other_page/background_page-tablet.png);
    background-size: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/BG_pages/other_page/background_page-tablet@2x.png);
  }
}

@media screen and (min-width: 1444px) {
  body {
    background-image: url(../images/BG_pages/other_page/background_page-desktop.png);
    background-size: 1440px;
  }
}

@media screen and (min-width: 1444px) and (min-device-pixel-ratio: 2), screen and (min-width: 1444px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1444px) and (min-resolution: 192dpi), screen and (min-width: 1444px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/BG_pages/other_page/background_page-desktop@2x.png);
  }
}

/*-Контейнер для обмеження контенту по ширині-*/
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/*-Контейнер для обмеження контенту mobile-версії-*/
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

/*-Контейнер для обмеження контенту tablet-версії-*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/*-Контейнер для обмеження контенту desktop-версії-*/
@media screen and (min-width: 1444px) {
  .container {
    width: 1444px;
    padding-left: 189px;
    padding-right: 189px;
  }
}

.mobile-menu {
  background: chartreuse;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 100;
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  background-image: url(../images/BG_pages/other_page/background_page-mobile.png);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mobile-menu {
    background-image: url(../images/BG_pages/other_page/background_page-mobile@2x.png);
  }
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-nav__link {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--accent-color);
}

.current {
  border: 1px solid var(--accent-color);
}

.mobile-nav__link--sub {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.mobile-nav__link--sub::before {
  content: '';
  margin-right: 11px;
  background: #487996;
  border-radius: 3px 0px;
}

@media screen and (min-width: 320px) {
  .navigation {
    display: none;
  }
}

@media (min-width: 1444px) {
  .navigation {
    display: block;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  font-family: var(--secondary-font);
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__item:not(:last-child) {
  margin-right: 54px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -25px;
  width: 150px;
  padding-top: 8px;
  background: var(--primary-white-color);
  -webkit-box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0 0 50px 50px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  font-family: var(--secondary-font);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.dropdown-content__link:hover, .dropdown-content__link:focus {
  color: var(--accent-color);
}

.dropdown-content__item:not(:last-child) {
  margin-bottom: 10px;
}

.dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-item:hover .navigation__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #008cef;
}

/*-Стилі заголовка для mobile-версії-*/
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--accent-color);
}

/*-Стилі заголовка для tablet-версії-*/
@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
  }
}

/*-Стилі заголовка для desktop-версії-*/
@media screen and (min-width: 1444px) {
  .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
  }
}

/*-- Стилі для кнопки-- */
/*-- Стилі для кнопки в hero-- */
.button {
  padding: 16px 32px;
  -webkit-box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
          box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  border: none;
  background: var(--secondary-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--primary-background-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 29px 0;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
  }
}

@media (min-width: 1444px) {
  .header {
    margin-top: 40px;
    padding: 0;
  }
}

@media (min-width: 1444px) {
  .header-container {
    padding-right: 80px;
    padding-left: 80px;
  }
}

.logo {
  margin-right: 23px;
}

.burger-btn {
  margin-right: 46px;
}

.burger-btn:hover, .burger-btn:focus {
  background-color: var(--primary-background-color);
  border-radius: 4px;
}

@media (min-width: 768px) {
  .burger-btn {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 1444px) {
  .burger-btn {
    display: none;
  }
}

.tel-btn {
  margin-right: 21px;
}

@media (min-width: 768px) {
  .tel-btn {
    display: none;
  }
}

@media (min-width: 1444px) {
  .tel-btn {
    display: none;
  }
}

.dropup {
  position: relative;
  display: inline-block;
}

@media (min-width: 768px) {
  .dropup {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.dropup-content {
  display: none;
  position: absolute;
  left: -100%;
  min-width: 165px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropup:hover .dropup-content {
  display: block;
}

@media (min-width: 768px) {
  .dropup-content {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
  }
}

@media (min-width: 1444px) {
  .dropup-content {
    position: static;
    min-width: 171px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.dropup-content__link {
  display: block;
  padding: 0 8px;
  margin: 16px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.dropup-content__link:hover, .dropup-content__link:focus {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .dropup-content__link {
    margin: 0;
  }
  .dropup-content__link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .tel__icon {
    display: none;
  }
}

.lang {
  border: none;
  font-family: Caviar Dreams;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #bdbdbd;
}

.footer {
  background-color: var(--secondary-background-color);
  -webkit-box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
          box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
}

.footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1444px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1444px) {
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .margin-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .margin-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1444px) {
  .margin-footer {
    padding-right: 136px;
  }
}

@media screen and (min-width: 1444px) {
  .footer-menu {
    padding-right: 87px;
  }
}

@media screen and (min-width: 768px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1444px) {
  .footer-list {
    padding-right: 145px;
  }
}

.footer-menu,
.footer-list,
.footer-contacts__list {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .footer-menu,
  .footer-list,
  .footer-contacts__list {
    text-align: center;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts__list {
    text-align: end;
  }
}

@media screen and (min-width: 1444px) {
  .footer-contacts__list {
    text-align: start;
  }
}

.menu__studio {
  font-family: var(--main-font);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #2b2b2b;
  padding-bottom: 8px;
}

.menu-contacts {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #487996;
  text-decoration: none;
  padding-bottom: 8px;
}

.footer-contacts__link {
  padding-bottom: 16px;
}

.footer-contacts__link-name {
  padding-bottom: 8px;
}

.hero {
  padding-top: 12px;
}

.hero__title-container {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.hero__title {
  font-family: Caviar Dreams;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: #2b2b2b;
}

.hero_content {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__items:not(:last-child) {
  margin-right: 20px;
}

.hero__img {
  -webkit-filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
}

.hero__img1 {
  border-radius: 0px 35px 0px 0px;
}

.hero__img2 {
  border-radius: 50%;
}

.hero__img3 {
  border-radius: 0px 35px 0px 35px;
}

.hero__desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.anchor-svg {
  display: none;
}

@media screen and (min-width: 768px) {
  .anchor-svg {
    position: absolute;
    bottom: -15px;
    left: 72px;
  }
  .anchor-container {
    position: relative;
  }
  .anchor-svg {
    display: block;
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__title-container {
    width: 420px;
  }
  .hero__desc {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1444px) {
  .anchor-svg {
    left: 134px;
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__title-container {
    width: 624px;
  }
  .hero__desc {
    font-size: 36px;
  }
}

.gallery {
  padding-top: 52px;
  padding-bottom: 52px;
}

.gallery__desc {
  font-size: 16px;
  line-height: 1.26;
  color: #487996;
  margin-top: 8px;
}

.gallery__item:not(:last-child) {
  margin-bottom: 24px;
}

.gallery__link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .gallery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-right: -18px;
  }
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 36px) / 2);
        flex-basis: calc((100% - 36px) / 2);
    margin-right: 18px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1444px) {
  .gallery__desc {
    font-size: 18px;
  }
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 52px) / 2);
        flex-basis: calc((100% - 52px) / 2);
  }
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.bg {
  background-image: url(../images/BG_pages/other_page/background_page-mobile.png);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg {
    background-image: url(../images/BG_pages/other_page/background_page-mobile@2x.png);
  }
}

@media screen and (min-width: 1444px) {
  .bg {
    background-image: url(../images/BG_pages/main-page/background_main-desktop.png);
    background-size: 1440px;
  }
}

@media screen and (min-width: 1444px) and (min-device-pixel-ratio: 2), screen and (min-width: 1444px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1444px) and (min-resolution: 192dpi), screen and (min-width: 1444px) and (min-resolution: 2dppx) {
  .bg {
    background-image: url(../images/BG_pages/main-page/background_main-desktop@2x.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .more-foto__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .more-foto__item {
    margin-bottom: 32px;
    height: 720px;
    overflow-y: scroll;
  }
  .more-foto__list:not(:last-child) {
    margin-bottom: 16px;
  }
  .more-foto__img {
    margin: 0 auto;
  }
  .more-foto__btn {
    margin-bottom: 76px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1443px) {
  .more-foto__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 32px;
  }
  .more-foto__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 56px;
  }
  .more-foto__list {
    margin: 9px;
  }
  .more-foto__btn {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1444px) {
  .more-foto__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 52px;
  }
  .more-foto__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -16px;
    margin-bottom: 32px;
  }
  .more-foto__list {
    margin: 16px;
  }
  .more-foto__btn {
    margin-bottom: 100px;
  }
}

.more-foto__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 50px;
  width: 45px;
  background-image: url(../images/SVG-icon/icons/load_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  height: 45px;
}

.more-foto__title {
  font-style: normal;
  font-weight: bold;
  color: #487996;
}

.more-foto__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.8);
  z-index: 100;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
}

.more-foto__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.more-foto__backdrop-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backdrop__btn-close {
  background-color: rgba(43, 43, 43, 0.8);
  border-radius: 50%;
  border: none;
  margin-left: 95%;
  margin-top: 1%;
  color: aliceblue;
}

.hero-mod {
  padding-top: 32px;
  padding-bottom: 52px;
}

@media screen and (min-width: 1444px) {
  .hero-mod {
    padding-top: 85px;
    padding-bottom: 100px;
  }
}

.hero-mod__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media screen and (min-width: 1444px) {
  .hero-mod__title {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1444px) {
  .wrapper-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero-mod__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  font-family: var(--main-font);
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .hero-mod__text {
    max-width: 515px;
  }
}

@media screen and (min-width: 1444px) {
  .hero-mod__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.28;
  }
}

.hero-mod__text:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 1444px) {
  .hero-mod__text:not(:last-child) {
    margin-right: 32px;
  }
}

.creation {
  padding-bottom: 52px;
}

@media screen and (min-width: 1444px) {
  .creation {
    padding-bottom: 100px;
  }
}

.creation-container {
  position: relative;
}

.creation__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .creation__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1444px) {
  .creation__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
  }
}

.creation__item {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1444px) {
  .creation__item {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.28;
  }
}

.creation__item:not(:last-child) {
  margin-bottom: 16px;
}

.creation__item::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 3px 0px;
  background: var(--accent-color);
}

.image-mod {
  display: block;
  background-image: url(../images/3D-Modelling-page/pic-mobile.jpg);
  background-color: var(--primary-white-color);
  background-repeat: no-repeat;
  padding-bottom: 164px;
  margin-top: 32px;
  min-height: 146px;
}

@media screen and (min-width: 768px) {
  .image-mod {
    position: absolute;
    background-image: url(../images/3D-Modelling-page/pic-tablet.jpg);
    padding-bottom: 0;
    min-width: 246px;
    min-height: 144px;
    top: 4px;
    right: 60px;
  }
}

@media screen and (min-width: 1444px) {
  .image-mod {
    position: absolute;
    background-image: url(../images/3D-Modelling-page/pic-desktop.jpg);
    padding-bottom: 0;
    min-width: 515px;
    min-height: 302px;
    margin: 0;
    top: -70px;
    right: 175px;
  }
}

.example {
  padding-bottom: 76px;
}

@media screen and (min-width: 1444px) {
  .example {
    padding-bottom: 100px;
  }
}

.example__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-right: 20px;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .example__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 24px;
    padding-right: 170px;
  }
}

@media screen and (min-width: 1444px) {
  .example__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
  }
}

.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

.example__item {
  margin-top: 10px;
  margin-left: 10px;
  -ms-flex-preferred-size: calc((100% - 2 * 10px) / 2);
      flex-basis: calc((100% - 2 * 10px) / 2);
}

@media screen and (min-width: 768px) {
  .example__item {
    -ms-flex-preferred-size: calc((100% - 4 * 10px) / 4);
        flex-basis: calc((100% - 4 * 10px) / 4);
  }
}

.example__item-one-radius {
  border-radius: 0px 0px 0px 50px;
  overflow: hidden;
}

.example__item-two-radius {
  border-radius: 50px 0px;
  overflow: hidden;
}

.example__img {
  height: 117px;
}

@media screen and (min-width: 768px) {
  .example__img {
    height: 134px;
  }
}

@media screen and (min-width: 1444px) {
  .example__img {
    height: 219px;
  }
}

.button-mod {
  display: block;
  margin-top: 52px;
  max-width: 280px;
}

@media screen and (min-width: 768px) {
  .button-mod {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1444px) {
  .button-mod {
    margin-top: 100px;
  }
}

.hero3d__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.hero3d__text {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.hero3d__text:not(:last-child) {
  margin-bottom: 16px;
}

.jpg-scan {
  background-image: url(../images/3D-Scanning-page/Scanning_photo1-mobile.jpg);
  background-repeat: no-repeat;
  padding-bottom: 232px;
  background-position: 20% 100%;
  margin-bottom: 16px;
}

.scanning3d__title {
  font-family: var(--main-font);
  font-style: normal;
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.27;
  text-transform: uppercase;
  color: var(--accent-color);
}

.scanning3d__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.scanning3d__card {
  width: 133px;
  height: 182px;
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 14px;
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
      flex-basis: calc((100% - 2 * 15px) / 2);
  -webkit-box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
          box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.scanning3d__card::before {
  content: url(../images/3D-Scanning-page/Scan_process1-mobile.jpg);
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.card3d__title {
  padding-top: 18px;
}

.button-scann {
  display: block;
  margin-top: 52px;
  margin-bottom: 76px;
}

.hero3d__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.hero3d__text {
  font-family: var(--main-font);
  font-style: normal;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.hero3d__text:not(:last-child) {
  margin-bottom: 16px;
}

.jpg-scan {
  background-image: url(../images/3D-Scanning-page/Scanning_photo1-mobile.jpg);
  background-repeat: no-repeat;
  padding-bottom: 192px;
  background-position: 20% 100%;
}

@media screen and (min-width: 768px) {
  .hero3d {
    margin-top: 24px;
  }
  .hero3d__title {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
  }
  .wrrap {
    margin-bottom: 57px;
  }
  .hero3d__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    padding-right: 135px;
    margin-bottom: 16px;
  }
  .jpg-scan {
    background-image: url(../images/3D-Scanning-page/Scanning_photo1-tablet.jpg);
    background-repeat: no-repeat;
    background-position: 100% 87%;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1444px) {
  .hero3d__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.28;
  }
  .hero3d__text {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.28;
    color: var(--primary-text-color);
    padding-right: 0;
  }
  .wrrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    padding-bottom: 100px;
  }
  .box-left {
    width: 515px;
    height: 270px;
    margin-right: 32px;
  }
  .box-right {
    width: 515px;
    height: 270px;
  }
  .jpg-scan {
    background-image: url(../images/3D-Scanning-page/Scanning_photo1-desktop.jpg);
    background-repeat: no-repeat;
    background-position: 80% 140%;
    padding-bottom: 0px;
  }
}

.card3d__title {
  font-family: var(--main-font);
  font-style: normal;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.28;
  text-align: center;
  color: var(--accent-color);
}

.scanning3d__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.button-scann {
  padding: 16px 32px;
  -webkit-box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
          box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  border: none;
  background: var(--secondary-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-scann:hover, .button-scann:focus {
  background-color: var(--primary-background-color);
}

.transfer {
  display: block;
}

.scanning3d__title {
  font-family: var(--main-font);
  font-style: normal;
  margin-bottom: 19px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.27;
  color: var(--accent-color);
}

.scanning3d__card {
  width: 133px;
  height: 182px;
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 19px;
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
      flex-basis: calc((100% - 2 * 15px) / 2);
  -webkit-box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
          box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.scanning3d__card-1::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process1-mobile.png);
  background-color: transparent;
  background-size: 94px 82px;
  width: 94px;
  height: 82px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .scanning3d__card-1::before {
    background-image: url(../images/3D-Scanning-page/Scan_process1-mobile@2x.png);
  }
}

.scanning3d__card-2::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process2-mobile.png);
  background-color: transparent;
  background-size: 94px 82px;
  width: 94px;
  height: 82px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .scanning3d__card-2::before {
    background-image: url(../images/3D-Scanning-page/Scan_process2-mobile@2x.png);
  }
}

.scanning3d__card-3::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process3-mobile.png);
  background-color: transparent;
  background-size: 94px 82px;
  width: 94px;
  height: 82px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .scanning3d__card-3::before {
    background-image: url(../images/3D-Scanning-page/Scan_process3-mobile@2x.png);
  }
}

.scanning3d__card-4::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process4-mobile.png);
  background-color: transparent;
  background-size: 94px 82px;
  width: 94px;
  height: 82px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .scanning3d__card-4::before {
    background-image: url(../images/3D-Scanning-page/Scan_process4-mobile@2x.png);
  }
}

.card3d__title {
  padding-top: 18px;
}

.button-scann {
  margin-top: 52px;
  margin-bottom: 76px;
}

.scanning3d__title {
  margin-top: 52px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.transfer {
  display: block;
}

.scanning3d__list {
  margin-top: -12px;
  margin-left: -12px;
}

.scanning3d__card {
  width: 153px;
  height: 210px;
  margin-top: 12px;
  margin-left: 12px;
  padding-top: 17px;
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 4 * 12px) / 4);
      flex-basis: calc((100% - 4 * 12px) / 4);
  -webkit-box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
          box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.scanning3d__card-1::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process1-tablet.png);
  background-color: transparent;
  background-size: 108px 94px;
  width: 108px;
  height: 94px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .scanning3d__card-1::before {
    background-image: url(../images/3D-Scanning-page/Scan_process1-tablet@2x.png);
  }
}

.scanning3d__card-2::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process2-tablet.png);
  background-color: transparent;
  background-size: 108px 94px;
  width: 108px;
  height: 94px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .scanning3d__card-2::before {
    background-image: url(../images/3D-Scanning-page/Scan_process2-tablet@2x.png);
  }
}

.scanning3d__card-3::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process3-desktop.png);
  background-color: transparent;
  background-size: 108px 94px;
  width: 108px;
  height: 94px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .scanning3d__card-3::before {
    background-image: url(../images/3D-Scanning-page/Scan_process3-desktop@2x.png);
  }
}

.scanning3d__card-4::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process4-desktop.png);
  background-color: transparent;
  background-size: 108px 94px;
  width: 108px;
  height: 94px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .scanning3d__card-4::before {
    background-image: url(../images/3D-Scanning-page/Scan_process4-desktop@2x.png);
  }
}

.scanning3d__title {
  position: absolute;
  top: -18%;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}

.scanning3d__list {
  margin-top: -21px;
  margin-left: -21px;
}

.wrrap {
  margin-bottom: 97px;
}

.scanning3d {
  position: relative;
}

.scanning3d__card-1::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process1-desktop.png);
  background-color: transparent;
  background-size: 177px 154px;
  width: 177px;
  height: 154px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (min-resolution: 2dppx) and (min-width: 1440px) {
  .scanning3d__card-1::before {
    background-image: url(../images/3D-Scanning-page/Scan_process1-desktop@2x.png);
  }
}

.scanning3d__card-2::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process2-desktop.png);
  background-color: transparent;
  background-size: 177px 154px;
  width: 177px;
  height: 154px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (min-resolution: 2dppx) and (min-width: 1440px) {
  .scanning3d__card-2::before {
    background-image: url(../images/3D-Scanning-page/Scan_process2-desktop@2x.png);
  }
}

.scanning3d__card-3::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process3-desktop.png);
  background-color: transparent;
  background-size: 177px 154px;
  width: 177px;
  height: 154px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (min-resolution: 2dppx) and (min-width: 1440px) {
  .scanning3d__card-3::before {
    background-image: url(../images/3D-Scanning-page/Scan_process3-desktop@2x.png);
  }
}

.scanning3d__card-4::before {
  content: '';
  display: block;
  margin: 0 auto;
  background-image: url(../images/3D-Scanning-page/Scan_process4-desktop.png);
  background-color: transparent;
  background-size: 177px 154px;
  width: 177px;
  height: 154px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px), (min-resolution: 192dpi) and (min-width: 1440px), (min-resolution: 2dppx) and (min-width: 1440px) {
  .scanning3d__card-4::before {
    background-image: url(../images/3D-Scanning-page/Scan_process4-desktop@2x.png);
  }
}

.scanning3d__card {
  width: 250px;
  height: 298px;
  margin-top: 21px;
  margin-left: 21px;
  padding-top: 55px;
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 4 * 21px) / 4);
      flex-basis: calc((100% - 4 * 21px) / 4);
  -webkit-box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
          box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8), inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.we-create {
  padding-top: 32px;
}

@media screen and (min-width: 768px) {
  .we-create {
    padding-top: 35px;
  }
}

@media screen and (min-width: 1444px) {
  .we-create {
    padding-top: 85px;
  }
}

.we-create__title {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .we-create__title {
    margin-bottom: 24px;
  }
}

.we-create__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

@media screen and (min-width: 768px) {
  .we-create__list {
    margin-top: -12px;
    margin-left: -12px;
  }
}

@media screen and (min-width: 1444px) {
  .we-create__list {
    margin-top: -21px;
    margin-left: -21px;
  }
}

.we-create__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 30px;
  text-align: center;
  width: 132px;
  height: 158px;
  background: var(--primary-white-color);
  opacity: 0.8;
  -webkit-box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px var(--primary-white-color);
          box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px var(--primary-white-color);
  border-radius: 50px 0px;
  margin-top: 15px;
  margin-left: 15px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .we-create__item {
    -ms-flex-preferred-size: calc((100% - 48px) / 4);
        flex-basis: calc((100% - 48px) / 4);
    margin-top: 12px;
    margin-left: 12px;
    width: 152px;
    height: 182px;
  }
}

@media screen and (min-width: 1444px) {
  .we-create__item {
    padding-bottom: 40px;
    margin-top: 21px;
    margin-left: 21px;
    -ms-flex-preferred-size: calc((100% - 84px) / 4);
        flex-basis: calc((100% - 84px) / 4);
    width: 250px;
    height: 298px;
  }
}

.we-create__item--pos {
  padding-bottom: 15px;
}

@media screen and (min-width: 1444px) {
  .we-create__item--pos {
    padding-bottom: 20px;
  }
}

.we-create_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: var(--accent-color);
  margin-top: 16px;
}

@media screen and (min-width: 1444px) {
  .we-create_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    margin-top: 35px;
  }
}

.we-create_text--pos {
  margin-top: 7px;
}

@media screen and (min-width: 1444px) {
  .we-create_text--pos {
    max-width: 150px;
    margin-top: 20px;
  }
}

/* hero */
.hero-order_title {
  text-align: center;
  margin-bottom: 202px;
}

/* margin-bottom: 16px; */
.hero-order_container {
  background-image: url(../images/Take-order-page/order-image-mobile.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  background-position: 50% 20%;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), (min-resolution: 192dpi) and (min-width: 320px), (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-section {
    background-image: url(../images/Take-order-page/order-image-mobile@2x.jpg);
  }
}

.heroto-description {
  font-family: Cera Pro;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-top: 16px;
}

@media screen and (max-width: 1443px) {
  .three-pict,
  .mosaic-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-order_container {
    background-image: url(../images/Take-order-page/order-image-tablet.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: 12% 100%;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: url(../images/Take-order-page/order-image-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-order__wraper {
    display: block;
  }
  .hero-order_title {
    text-align: left;
    margin-bottom: 24px;
    padding-top: 24px;
  }
  .heroto-description:nth-child(-n + 1) {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .description-wraper {
    padding-left: 268px;
  }
}

@media screen and (min-width: 1444px) {
  .hero-order_container {
    background-image: url(../images/Take-order-page/order-image-desktop.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: 20% 62%;
  }
}

@media screen and (min-width: 1444px) and (min-device-pixel-ratio: 2) and (min-width: 1444px), screen and (min-width: 1444px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1444px), screen and (min-width: 1444px) and (min-resolution: 192dpi) and (min-width: 1444px), screen and (min-width: 1444px) and (min-resolution: 2dppx) and (min-width: 1444px) {
  .hero-section {
    background-image: url(../images/Take-order-page/order-image-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1444px) {
  .heroto-description:nth-child(-n + 2) {
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 0px;
  }
  .description-wraper {
    padding-left: 552px;
  }
  .three-pict {
    background-image: url(../images/Take-order-page/three-image.jpg);
    background-repeat: no-repeat;
    background-position: 68% 54%;
    width: 580px;
    height: 250px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1444px), (min-resolution: 192dpi) and (min-width: 1444px), (min-resolution: 2dppx) and (min-width: 1444px) {
  .hero-section {
    background-image: url(../images/Take-order-page/three-image@2x.jpg);
  }
}

/* form */
.order-form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 52px;
  padding-bottom: 52px;
}

.order-form__title {
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: var(--accent-color);
  margin-bottom: 28px;
}

.order-form__input {
  width: 100%;
  height: 24px;
  border: none;
  margin-bottom: 44px;
  border-bottom: 1px solid var(--accent-color);
  color: var(--primary-text-color);
}

.order-form__input:focus {
  outline: none;
}

.order-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.order-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.order-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.order-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.select-options {
  width: 100%;
  height: 24px;
  border: none;
  margin-bottom: 44px;
  border-bottom: 1px solid var(--accent-color);
  color: var(--primary-text-color);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: hidden;
  background: url(../images/SVG-icon/icons/arrow_icon.svg) no-repeat right;
  cursor: pointer;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.select-options:focus {
  background: url(../images/SVG-icon/icons/arrow_icon_focus.svg) no-repeat right;
}

/* .select-options::after{
  position: absolute;
  display: block;
  content: "▼";
  background-image: url(../images/SVG-icon/icons/arrow_icon.svg);
  background-repeat: no-repeat;
    background-position: 90% 90%;
    width: 25px;
  height: 25px;
} */
.order-form__label {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  text-transform: capitalize;
}

.order-form__message {
  width: 280px;
  height: 200px;
  border: 1px solid var(--accent-color);
  border-radius: 50px 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 20px 22px;
  resize: none;
  background-image: url(../images/SVG-icon/icons/paper_clip_icon.svg);
  background-repeat: no-repeat;
  background-position: 90% 90%;
}

.order-form__message::-webkit-input-placeholder {
  color: #cdcdcd;
}

.order-form__message:-ms-input-placeholder {
  color: #cdcdcd;
}

.order-form__message::-ms-input-placeholder {
  color: #cdcdcd;
}

.order-form__message::placeholder {
  color: #cdcdcd;
}

.order-form__message-notice {
  color: #cdcdcd;
  margin-bottom: 24px;
}

.order-form_button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .order-form__main {
    width: 420px;
    margin: 0 auto;
    padding-bottom: 76px;
  }
  .order-form__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 36px;
    text-align: center;
  }
  .order-form__message {
    width: 100%;
    background-position: 95% 90%;
  }
  .order-form__message-notice {
    margin-bottom: 44px;
  }
  .order-form_button {
    width: 178px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1444px) {
  .order-form__main {
    width: 515px;
    margin: 0px;
    padding-bottom: 100px;
  }
  .order-form__title {
    font-size: 36px;
    margin-bottom: 36px;
    text-align: left;
  }
  .order-form__label {
    font-size: 18px;
  }
  .order-form__input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .order-form__input:-ms-input-placeholder {
    font-size: 18px;
  }
  .order-form__input::-ms-input-placeholder {
    font-size: 18px;
  }
  .order-form__input::placeholder {
    font-size: 18px;
  }
  .order-form__message::-webkit-input-placeholder {
    font-size: 18px;
  }
  .order-form__message:-ms-input-placeholder {
    font-size: 18px;
  }
  .order-form__message::-ms-input-placeholder {
    font-size: 18px;
  }
  .order-form__message::placeholder {
    font-size: 18px;
  }
  .order-form__message-notice {
    font-size: 18px;
  }
  .select-options {
    font-size: 18px;
  }
  .order-form__message {
    width: 100%;
  }
}

/* contacts info */
.contacts-data__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--accent-color);
}

.contacts-data__list {
  padding-bottom: 76px;
}

.contacts-data__item:not(:last-child) {
  margin-bottom: 24px;
}

.contacts-data__description {
  font-family: Cera Pro;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-top: 8px;
}

.days {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contacts-data__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts-data__description {
    text-align: right;
  }
  .contacts-data__title {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1444px) {
  .order-form-section {
    position: relative;
  }
  .contacts-data__list {
    position: absolute;
    z-index: -1;
    text-align: end;
    left: 68%;
    top: 116px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .contacts-data__title {
    font-size: 36px;
  }
  .contacts-data__description {
    font-size: 18px;
  }
  .mosaic-img {
    background-image: url(../images/Take-order-page/order-image5.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    width: 570px;
    height: 430px;
    position: absolute;
    right: -73px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1444px), (min-resolution: 192dpi) and (min-width: 1444px), (min-resolution: 2dppx) and (min-width: 1444px) {
  .hero-section {
    background-image: url(../images/Take-order-page/order-image5@2x.png);
  }
}

@media screen and (min-width: 1700px) {
  .contacts-data__list {
    left: 66%;
  }
}

@media screen and (min-width: 1920px) {
  .contacts-data__list {
    left: 65%;
  }
}

@media screen and (min-width: 2560px) {
  .contacts-data__list {
    left: 61%;
  }
}

.description__title {
  margin-bottom: 16px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.description__text-item {
  font-family: var(--main-font);
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.smile {
  margin-left: 8px;
}

@media (min-width: 768px) {
  .description__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .description__text {
    margin-left: 20px;
  }
  .description__foto {
    min-width: 247px;
    margin-right: 20px;
  }
  .description__text-item {
    margin-top: 0;
  }
}

@media screen and (max-width: 1443.98px) {
  .smile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1444px) {
  .description__foto {
    min-width: 515px;
    min-height: 315px;
    margin-right: 32px;
  }
  .description__text-item {
    margin-top: 24px;
  }
  .description__smile {
    width: 49px;
    margin-top: 100px;
  }
}

.contacts-form {
  margin-top: 52px;
  margin-bottom: 52px;
}

.contacts-form__title {
  margin-bottom: 28px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.contacts-form__label-wrapper {
  width: 100%;
}

.contacts-form__input {
  width: 100%;
  margin-bottom: 44px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid #487996;
}

.contacts-form__word {
  margin-bottom: 4px;
}

.contacts-form__message {
  width: 100%;
  height: 199px;
  margin-top: 4px;
  padding: 22px;
  border: 1px solid #487996;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px 0px;
}

.contacts-form__message::-webkit-input-placeholder {
  color: var(--notice-color);
}

.contacts-form__message:-ms-input-placeholder {
  color: var(--notice-color);
}

.contacts-form__message::-ms-input-placeholder {
  color: var(--notice-color);
}

.contacts-form__message::placeholder {
  color: var(--notice-color);
}

.contacts-form__message-notice {
  margin-top: 4px;
  font-family: var(--main-font);
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--notice-color);
}

.contacts-form__btn {
  padding: 16px 32px;
  -webkit-box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
          box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  border: none;
  background: var(--secondary-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  margin-top: 24px;
}

.paper_clip_wrapper {
  position: relative;
}

.paper_clip_icon {
  position: absolute;
  bottom: 21px;
  right: 21px;
  width: 22px;
  height: 20px;
}

@media (min-width: 768px) {
  .contacts-form {
    padding-right: 114px;
    padding-left: 114px;
    margin-bottom: 76px;
  }
  .contacts-form__title {
    text-align: center;
  }
  .contacts-form__btn {
    width: 177px;
    display: block;
    margin-left: auto;
    margin-top: 44px;
  }
}

@media screen and (max-width: 1443.98px) {
  .contacts-visible {
    display: none;
  }
}

@media (min-width: 1444px) {
  .contacts-summ-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts-wrapper {
    display: none;
  }
  .contacts-data {
    background-color: aqua;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-include-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* contacts info */
.contacts-data__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--accent-color);
}

.contacts-data__list {
  padding-bottom: 76px;
}

.contacts-data__item:not(:last-child) {
  margin-bottom: 24px;
}

.contacts-data__description {
  font-family: Cera Pro;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-top: 8px;
}

.days {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contacts-data__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts-data__description {
    text-align: right;
  }
  .contacts-data__title {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1444px) {
  .order-form-section {
    position: relative;
  }
  .contacts-data__list {
    position: absolute;
    z-index: -1;
    text-align: end;
    left: 68%;
    top: 116px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .contacts-data__title {
    font-size: 36px;
  }
  .contacts-data__description {
    font-size: 18px;
  }
  .mosaic-img {
    background-image: url(../images/Take-order-page/order-image5.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    width: 570px;
    height: 430px;
    position: absolute;
    right: -73px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1444px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1444px), (min-resolution: 192dpi) and (min-width: 1444px), (min-resolution: 2dppx) and (min-width: 1444px) {
  .hero-section {
    background-image: url(../images/Take-order-page/order-image5@2x.png);
  }
}

@media screen and (min-width: 1700px) {
  .contacts-data__list {
    left: 66%;
  }
}

@media screen and (min-width: 1920px) {
  .contacts-data__list {
    left: 65%;
  }
}

@media screen and (min-width: 2560px) {
  .contacts-data__list {
    left: 61%;
  }
}

/* @import './example'; */
/*# sourceMappingURL=main.css.map */