/*-----CSS змінні------*/
:root {
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #bdbdbd;
  --accent-color: #487996;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f5fa;
  --main-font: 'Cera Pro', sans-serif;
  --secondary-font: 'Caviar Dreams', sans-serif;
  --notice-color: rgba(205, 205, 205, 1);
}
