<!-- Methods of creations -->
<section class="creation">
    <div class="container creation-container ">
        <h2 class="creation__title">Способи створення моделі:</h2>
        <ul class="creation__list">
            <li class="creation__item">3D сканування</li>
            <li class="creation__item">На основі фотографій з доданими розмірами</li>
            <li class="creation__item">За ескізами з розмірами</li>
            <li class="creation__item">За вашим кресленням</li>
            <li class="creation__item">По вже існуючому прототипу шляхом зняття розмірів</li>
        </ul>
        <div class="image-mod"></div>
        

    </div>
</section>