.example__title {
  @font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/CeraPro-Bold.woff') format('woff'),
      url('../fonts/CeraPro-Bold.woff2') format('woff2');
  }
  @include font(16px, 700, 1.25);
  text-transform: uppercase;
  margin-bottom: 16px;

  color: var(--accent-color);
}

.example__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}
.example__item {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc((100% - 2 * 10px) / 2);
}

.example__img {
  height: 117px;
}
.wrapper-btn {
  margin-top: 52px;
  margin-bottom: 75px;
}
