.hero-mod {
  margin-top: 32px;
  margin-bottom: 52px;
}

.hero-mod__title {
  font-family: var(--main-font);
  font-style: normal;

  @include font(24px, 700, 1.25);
  margin-bottom: 16px;
  color: var(--accent-color);
}

.hero-mod__text,
.creation__item {
  font-family: var(--main-font);
  font-style: normal;

  @include font(16px, 300, 1.25);

  color: var(--primary-text-color);
}

.hero-mod__text:not(:last-child) {
  margin-bottom: 16px;
}

.example {
  margin-bottom: 76px;
}
