<section class="scanning3d">
    <div class="container">
        <h2 class="scanning3d__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
        <ul class="scanning3d__list">
            <li class="scanning3d__card">
                <h3 class="card3d__title">Підготовка деталі до сканування</h3>
            </li>
            <li class="scanning3d__card">
                <h3 class="card3d__title">Створення сканів і їх обробка</h3>
            </li>
            <li class="scanning3d__card">
                <h3 class="card3d__title">Перетворення reverse engineering</h3>
            </li>
            <li class="scanning3d__card">
                <h3 class="card3d__title">Підготовка моделі до друку</h3>
            </li>
        </ul>
    </div>
    <div class="container btn-scann">
        <a href="#" class="button-scann button link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
    </div>
</section>