<section class="scanning3d">
    <div class="container">
        <h2 class="scanning3d__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
        <ul class="scanning3d__list">
            <li class="scanning3d__card scanning3d__card-1">
                <h3 class="card3d__title ">Підготовка деталі
                    <span class="transfer">до сканування</span>
                </h3>
            </li>
            <li class="scanning3d__card scanning3d__card-2">
                <h3 class="card3d__title">Створення сканів
                    <span class="transfer">і їх обробка</span>
                </h3>
            </li>
            <li class="scanning3d__card scanning3d__card-3">
                <h3 class="card3d__title">Перетворення reverse engineering</h3>
            </li>
            <li class="scanning3d__card scanning3d__card-4">
                <h3 class="card3d__title">Підготовка моделі
                    <span class="transfer">до друку</span>
                </h3>
            </li>
           
        </ul>
            <div class="btn-scann">
                <a href="./takeorder.html" class="button-scann link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
            </div>

    </div>
</section>