<section class="contact-form">
    <div class="container">
        <div class="contacts__phones">
            <h2 class="contacts__phones-title">ТЕЛЕФОНИ</h2>
            <div class="contacts__phones-wrapper">
                <a href="" class="contacts__phones-item">+38 (095) -73-84-551</a>
                <a href="" class="contacts__phones-item">+38 (098) -00-25-235</a>
            </div>
        </div>
        <div class="contacts__mail">
            <h2 class="contacts__mail-title">Email</h2>
            <div class="contacts__mail-wrapper">
                <a href="">3dfreedom.info@gmail.com</a>
            </div>
        </div>
        <div class="contacts__worktime">
            <h2 class="contacts__worktime-title">Робочий час</h2>
            <div class="contacts__worktime-wrapper">
                <p class="contacts__worktime-item">Пн-пт: з 8:00 до 19:00</p>
                <p class="contacts__worktime-item">Сб, Нд: з 10:00 до 17:00</p>
            </div>
        </div>
    </div>
</section>