<div class="contacts-summ-section">
    <!-- <div class="container"> -->
        <div class="contact-summ-item">
            <section class="contacts-section">
                <!-- <div class="container"> -->
                <div class="contacts-data">
                    <ul class="contacts-data__list">
                        <li class="contacts-data__item">
                            <h3 class="contacts-data__title">ТЕЛЕФОНИ</h3>
                            <p class="contacts-data__description">+38 (095) -73-84-551</p>
                            <p class="contacts-data__description">+38 (095) -73-84-551</p>
                        </li>
                        <li class="contacts-data__item">
                            <h3 class="contacts-data__title">Email</h3>
                            <p class="contacts-data__description">3dfreedom.info@gmail.com</p>
                        </li>
                        <li class="contacts-data__item">
                            <h3 class="contacts-data__title">Робочий час</h3>
                            <p class="contacts-data__description">
                                <span class="days">Пн-пт:</span>
                                з 8:00 до 19:00
                            </p>
                            <p class="contacts-data__description">
                                <span class="days">Сб, Нд:</span>
                                з 10:00 до 17:00
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- </div> -->
            </section>
        </div>
        <div class="contact-summ-item">
            <section>
                <!-- <div class="container"> -->
                    <div class="contacts-form">
                        <form action="#" class="contacts-form__main">
                            <h2 class="contacts-form__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
                            <label class="contacts-form__label">
                                <span class="contacts-form__label-wrapper">
                                    <input type="text" class="contacts-form__input" name="user-name" placeholder="Ім’я"
                                        minlength="2" pattern="[a-zA-Zа-яёА-ЯЁ]+"
                                        title="Ім'я повинно містити символи кирилиці або латиниці" required />
                                </span>
                            </label>
                            <label class="contacts-form__label">
                                <span class="contacts-form__label-wrapper">
                                    <input type="email" class="contacts-form__input" name="user-email" placeholder="Email"
                                        pattern="^[a-zA-Z0-9]+$+@[a-z0-9.-]=\.[a-z]{2,}$" title="test@mail.com" required />
                                </span>
                            </label>
                            <span class="contacts-form__word">Повідомлення</span>
                            <div class="paper_clip_wrapper">
                                <svg class="paper_clip_icon">
                                    <use xlink:href="./images/SVG-icon/svg_sprite-defs.svg#paper_clip_icon"></use>
                                </svg>
                                <label class="contacts-form__label">
                                    <textarea name="user-message" class="contacts-form__message"
                                        placeholder="Залишіть своє повідомлення"></textarea>
                                </label>
                            </div>
                            <label>
                                <p class="contacts-form__message-notice">
                                    *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
                                </p>
                            </label>
                            <button type="submit" class="contacts-form__btn">Відправити</button>
                        </form>
                    </div>
                <!-- </div> -->
            </section>
        </div>
    <!-- </div> -->
</div>