<section class="hero">
    <div class="container">
        <h1 class="description__title">КОНТАКТИ</h1>
        <div class="description__wrapper">
            <div class="description">
                <img class="description__foto" src="./images/Take-order-page/order-image-mobile.jpg" alt="імітація відео"/>
            </div>
            <div class="description__text">
                <p class="description__text-item">Людина уперше побачивши процес 3D друку може легко захопитися
                    спостереженням за
                    цим процесом не на десяток хвилин.</p>
                <p class="description__text-item">Наша команда створює timelapse відео що б ви могли краще ознайомитися з
                    технологією 3D друку і просто помилуватися
                    красою цього процесу.</p>
                    <div class="smile-wrapper">
                        <p class="description__text-item">Приємного перегляду!</p>
                        <div class="smile">
                            <picture class="picture">
                                <source
                                    srcset="./images/Take-order-page/emoji.png 1x, ./images/Take-order-page/emoji@2x.png 2x">
                                <img class="description__smile" src="#" alt="смайлик">
                            </picture>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>