<section class="hero">
    <div class="container">
        <h1>КОНТАКТИ</h1>
        <div class="descrition">
            <img src="#" alt="імітація відео" width="320" />
        </div>
        <div class="descrition__text">
            <p class="descrition__text-item">Людина уперше побачивши процес 3D друку може легко захопитися
                спостереженням за
                цим процесом не на десяток хвилин.</p>
            <p class="descrition__text-item">Наша команда створює timelapse відео що б ви могли краще ознайомитися з
                технологією 3D друку і просто помилуватися
                красою цього процесу.</p>
            <p class="descrition__text-item">Приємного перегляду!</p>
            <use>
                <svg href=""></svg>
                <!-- smile -->
            </use>
        </div>
    </div>
</section>