// Випадаюче меню для зміни мови
// змінити стилі з допомогою jqury
.lang {
  border: none;

  font-family: Caviar Dreams;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #bdbdbd;
}
