<!-- Секцію зробив Тарас Роботецький -->

<section class="process-description">
  <div class="container">
    <h2 class="title process-description__title visually-hidden">Опис процесу</h2>
    <ul class="process-description__list">
      <li class="process-description__item">
        <div class="process-description__container-image">
          <picture>
            <source media="(min-width: 1444px)"
              srcset="./images/3D-printing-page/process-img1-desktop.png 1x, ./images/3D-printing-page/process-img1-desktop2x.png 2x">
            <source media="(min-width: 768px)"
              srcset="./images/3D-printing-page/process-img1-tablet.png 1x, ./images/3D-printing-page/process-img1-tablet2x.png 2x">
            <source media="(max-width: 767px)"
              srcset="./images/3D-printing-page/process-img1-mobile.png 1x, ./images/3D-printing-page/process-img1-mobile2x.png 2x">
            <img class="process-description__img" src="#" alt="3Д-Принтер">
          </picture>
        </div>

        <div class="process-description__container-text">
          <p class="process-description_text"><span class="process-description_text--accent">3D-ДРУК</span> - ми
            використовуємо FDM технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D
            принтера.</p>
          <p class="process-description_text">Моделі для створення розроблюються дизайнерами в спеціальному програмному
            забезпеченні: системах автоматизованого
            проектування.</p>
          <p class="process-description_text process-description_text--distance">3D друк знайшов широке застосування в
            архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.</p>
          <div class="process-description_container">
            <a href="./takeorder.html" class="process-description_link link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
          </div>

        </div>
      </li>
      <li class="process-description__item">
        <div class="process-description__container-image">
          <picture>
            <source media="(min-width: 1444px)"
              srcset="./images/3D-printing-page/process-img2-desktop.png 1x, ./images/3D-printing-page/process-img2-desktop2x.png 2x">
            <source media="(min-width: 768px)"
              srcset="./images/3D-printing-page/process-img2-tablet.png 1x, ./images/3D-printing-page/process-img2-tablet2x.png 2x">
            <source media="(max-width: 767px)"
              srcset="./images/3D-printing-page/process-img2-mobile.png 1x, ./images/3D-printing-page/process-img2-mobile2x.png 2x">
            <img class="process-description__img" src="#" alt="3Д-Програма">
          </picture>
        </div>
        <div>
          <p class="process-description_text"><span class="process-description_text--accent">3D-МОДЕЛЮВАННЯ</span> - це
            процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
            спеціалізованого
            програмного забезпечення.</p>
          <p class="process-description_text">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
          <p class="process-description_text process-description_text--distance">Розуміючи специфіку 3D друку і ваших
            задач ми створимо деталь яка повністю задовольнить ваші потреби.</p>
          <div class="process-description_container">
            <a href="./takeorder.html" class="process-description_link link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
          </div>

        </div>
      </li>
      <li class="process-description__item">
        <div class="process-description__container-image">
          <picture>
            <source media="(min-width: 1444px)"
              srcset="./images/3D-printing-page/process-img3-desktop.png 1x, ./images/3D-printing-page/process-img3-desktop2x.png 2x">
            <source media="(min-width: 768px)"
              srcset="./images/3D-printing-page/process-img3-tablet.png 1x, ./images/3D-printing-page/process-img3-tablet2x.png 2x">
            <source media="(max-width: 767px)"
              srcset="./images/3D-printing-page/process-img3-mobile.png 1x, ./images/3D-printing-page/process-img3-mobile2x.png 2x">
            <img class="process-description__img" src="#" alt="Вертикальний 3Д-Принтер">
          </picture>
        </div>

        <div>
          <p class="process-description_text"><span class="process-description_text--accent">3D-СКАНУВАННЯ</span> -
            зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.</p>
          <p class="process-description_text process-description_text--distance">Це універсальний інструмент, який
            дозволяє отримати як і просто 3D-модель для візуалізації в цифровому вигляді, так і
            3D-модель для подальшого її друку на 3D-принтері.</p>

          <div class="process-description_container">
            <a href="./takeorder.html" class="process-description_link link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
          </div>

        </div>
      </li>


    </ul>
  </div>

</section>