<section class="we-create">
  <div class="container">
    <h1 class="title we-create__title">МИ СТВОРЮЄМО</h1>
    <ul class="we-create__list">
      <li class="we-create__item">
        <picture>
          <source media="(min-width: 1444px)" srcset="./images/3D-printing-page/about-3d-creation-lab-desktop.webp 1x,
            ./images/3D-printing-page/about-3d-creation-lab-desktop@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1444px)"
            srcset="./images/3D-printing-page/about-3d-creation-lab-desktop.jpg 1x, ./images/3D-printing-page/about-3d-creation-lab-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="./images/3D-printing-page/about-3d-creation-lab-tablet.webp 1x,
            ./images/3D-printing-page/about-3d-creation-lab-tablet@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)"
            srcset="./images/3D-printing-page/about-3d-creation-lab-tablet.jpg 1x, ./images/3D-printing-page/about-3d-creation-lab-tablet@2x.jpg 2x">
          <source media="(min-width: 320px)" srcset="./images/3D-printing-page/about-3d-creation-lab-mobile.webp 1x,
            ./images/3D-printing-page/about-3d-creation-lab-mobile@2x.webp 2x" type="image/webp">
          <source media="(min-width: 320px)"
            srcset="./images/3D-printing-page/about-3d-creation-lab-mobile.jpg 1x, ./images/3D-printing-page/about-3d-creation-lab-mobile@2x.jpg 2x">
          <img class="we-create__img" src="#" alt="Фото деталі">
        </picture>
        <p class="we-create_text">ПРОТОТИПИ</p>
      </li>
      <li class="we-create__item">
        <picture>
          <source media="(min-width: 1444px)" srcset="./images/3D-printing-page/toulouse-Archi-Blog-desktop.webp 1x,
            ./images/3D-printing-page/toulouse-Archi-Blog-desktop@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1444px)"
            srcset="./images/3D-printing-page/toulouse-Archi-Blog-desktop.jpg 1x, ./images/3D-printing-page/toulouse-Archi-Blog-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="./images/3D-printing-page/toulouse-Archi-Blog-tablet.webp 1x,
            ./images/3D-printing-page/toulouse-Archi-Blog-tablet@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)"
            srcset="./images/3D-printing-page/toulouse-Archi-Blog-tablet.jpg 1x, ./images/3D-printing-page/toulouse-Archi-Blog-tablet@2x.jpg 2x">
          <source media="(min-width: 320px)" srcset="./images/3D-printing-page/toulouse-Archi-Blog-mobile.webp 1x,
            ./images/3D-printing-page/toulouse-Archi-Blog-mobile@2x.webp 2x" type="image/webp">
          <source media="(min-width: 320px)"
            srcset="./images/3D-printing-page/toulouse-Archi-Blog-mobile.jpg 1x, ./images/3D-printing-page/toulouse-Archi-Blog-mobile@2x.jpg 2x">
          <img class="we-create__img" src="#" alt="Фото деталі">
        </picture>
        <p class="we-create_text">МАКЕТИ</p>
      </li>
      <li class="we-create__item">
        <picture>
          <source media="(min-width: 1444px)"
            srcset="./images/3D-printing-page/decor-desktop.webp 1x, ./images/3D-printing-page/decor-desktop@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 1444px)"
            srcset="./images/3D-printing-page/decor-desktop.jpg 1x, ./images/3D-printing-page/decor-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)"
            srcset="./images/3D-printing-page/decor-tablet.webp 1x, ./images/3D-printing-page/decor-tablet@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 768px)"
            srcset="./images/3D-printing-page/decor-tablet.jpg 1x, ./images/3D-printing-page/decor-tablet@2x.jpg 2x">
          <source media="(min-width: 320px)"
            srcset="./images/3D-printing-page/decor-mobile.webp 1x, ./images/3D-printing-page/decor-mobile@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 320px)"
            srcset="./images/3D-printing-page/decor-mobile.jpg 1x, ./images/3D-printing-page/decor-mobile@2x.jpg 2x">
          <img class="we-create__img" src="#" alt="Фото деталі">
        </picture>
        <p class="we-create_text">ДЕКОР</p>
      </li>
      <li class="we-create__item we-create__item--pos">
        <picture>
          <source media="(min-width: 1444px)" srcset="./images/3D-printing-page/3D-coub-desktop.webp 1x, ./images/3D-printing-page/3D-coub-desktop@2x.webp
            2x" type="image/webp">
          <source media="(min-width: 1444px)"
            srcset="./images/3D-printing-page/3D-coub-desktop.jpg 1x, ./images/3D-printing-page/3D-coub-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="./images/3D-printing-page/3D-coub-tablet.webp 1x, ./images/3D-printing-page/3D-coub-tablet@2x.webp
            2x" type="image/webp">
          <source media="(min-width: 768px)"
            srcset="./images/3D-printing-page/3D-coub-tablet.jpg 1x, ./images/3D-printing-page/3D-coub-tablet@2x.jpg 2x">
          <source media="(min-width: 320px)" srcset="./images/3D-printing-page/3D-coub-mobile.webp 1x, ./images/3D-printing-page/3D-coub-mobile@2x.webp
            2x" type="image/webp">
          <source media="(min-width: 320px)"
            srcset="./images/3D-printing-page/3D-coub-mobile.jpg 1x, ./images/3D-printing-page/3D-coub-mobile@2x.jpg 2x">
          <img class="we-create__img" src="#" alt="Фото деталі">
        </picture>
        <p class="we-create_text we-create_text--pos">КОРПОРАТИВНИЙ
          ДИЗАЙН</p>
      </li>
    </ul>
  </div>
</section>