<header>
    <a href="" class="logo">
        <img src="" alt="Логотип" class="logo__img" width="101">
    </a>

    <button type="button" class="burger-btn">
        <svg class="burger-btn__icon" width="32" height="32">
            <use href=""></use>
        </svg>
    </button>

<div class="tel">
        <button type="button" class="tel__btn">
            <svg class="tel__icon" width="32" height="32">
                <use href=""></use>
            </svg>
        </button>
        <ul class="tel-list">
            <li><a href="">+38 (093) 643 22 88</a></li>
            <li><a href="">+38 (050) 345 44 23</a></li>
        </ul>
</div>


</header>