<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Modeling</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./sass/main.css" />
   
</head>


<body>
<!-- Header -->
<include src="./partials/header.html"></include>
<main>

<!-- Hero -->
<section class="hero">
<div class="container">
    <h1 class="hero__title">3D МОДЕЛЮВАННЯ</h1>
    <p class="hero__text">Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися шляхом 3D друку,
    обробки заготовки на ЧПУ станках або іншими виробничими     методами, то до моделі преставляеться ряд інженерних    вимог які
    повинен враховувати дизайнер при розробці моделі.</p>
    <p class="hero__text">Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її створення. Ми маємо
широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>
</div>
</section>


<!-- Methods of creations -->
<section class="creation">
<div class="container">
    <h2 class="creation__title">Способи створення моделі:</h2>
    <ul class="creation__list">
        <li class="creation__item">3D сканування</li>
        <li class="creation__item">На основі фотографій з доданими розмірами</li>
        <li class="creation__item">За ескізами з розмірами</li>
        <li class="creation__item">За вашим кресленням</li>
        <li class="creation__item">По вже існуючому прототипу шляхом зняття розмірів</li>
    </ul>
    <img class="creation__img" src="../images/3D-Modelling-page/pic-desktop.jpg" alt="Фото двигуна">

</div>
</section>


<!-- We create model -->
<section class="example">
<div class="container">
    <h2 class="example__title">МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ
    ЗОБРАЖЕННЯ МОДЕЛЕЙ</h2>
    <img class="example__img" src="../images/3D-Modelling-page/realistic_1-desktop.jpg" alt="Фото деталі">
    <img class="example__img" src="../images/3D-Modelling-page/Realistic_2-desktop.jpg" alt="Фото деталі">
    <img class="example__img" src="../images/3D-Modelling-page/Realistic_3-desktop.jpg" alt="Фото деталі">
    <img class="example__img" src="../images/3D-Modelling-page/Realistic_4-desktop.jpg" alt="Фото деталі">
    <a class="button"  href="./takeorderpage.html">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
    
</div>
</section>

</main>
     <!-- Footer -->
    <include src="./partials/footer.html"></include>
</body>
</html>