<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Modeling</title>
</head>


<body>


<main>
<!-- Hero -->
<section>
<h1>3D МОДЕЛЮВАННЯ</h1>
<p>Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися шляхом 3D друку,
обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд інженерних вимог які
повинен враховувати дизайнер при розробці моделі.</p>
<p>Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її створення. Ми маємо
широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>
</section>

<!-- Methods of creations -->
<section>
<h2>Способи створення моделі:</h2>
<ul>
    <li>3D сканування</li>
    <li>На основі фотографій з доданими розмірами</li>
    <li>За ескізами з розмірами</li>
    <li>За вашим кресленням</li>
    <li>По вже існуючому прототипу шляхом зняття розмірів</li>
</ul>
<img src="./images/pic.jpeg" alt="Фото двигуна">
</section>

<!-- We create model -->

<section>
    <h2>МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ
    ЗОБРАЖЕННЯ МОДЕЛЕЙ</h2>
    <img src="" alt="Фото деталі">
    <img src="" alt="Фото деталі">
    <img src="" alt="Фото деталі">
    <img src="" alt="Фото деталі">
    <button>ЗРОБИТИ ЗАМОВЛЕННЯ</button>
</section>


</main>
    
</body>
</html>