<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Printing</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.min.css" />
</head>
<body>

    
    <section class="printing-section">
        <div class="container">
            <h1 class="printing__title">МИ СТВОРЮЄМО</h1>

            <!-- model examples  -->
            <ul class="model-examples__list">
                <li class="model-examples__list-item">
                    <div class="model-examples__thump-position">
                        <picture class="model-examples__picture">
                            <source media="(min-width: 1444px)" 
                                    srcset="" 
                                    type="image/webp"> 
            
                            <source media="(min-width: 1444px)" 
                                    srcset="">
            
                            <source media="(min-width: 768px)" 
                                    srcset="" 
                                    type="image/webp">
                            
                            <source media="(min-width: 768px)" 
                                    srcset="">
            
                            <source media="(min-width: 320px)" 
                                    srcset="" 
                                    type="image/webp">
                                    
                            <source media="(min-width: 320px)" 
                                    srcset="">
                            <img src="#" alt="Прототипи" width="92">
                        </picture>
                        <p class="model-examples__subtitle">ПРОТОТИПИ</p>
                    </div>
                </li>
                <li class="model-examples__list-item">
                    <div class="model-examples__thump-position">
                        <picture class="model-examples__picture">
                            <source media="(min-width: 1444px)" 
                                    srcset="" 
                                    type="image/webp"> 
            
                            <source media="(min-width: 1444px)" 
                                    srcset="">
            
                            <source media="(min-width: 768px)" 
                                    srcset="" 
                                    type="image/webp">
                            
                            <source media="(min-width: 768px)" 
                                    srcset="">
            
                            <source media="(min-width: 320px)" 
                                    srcset="" 
                                    type="image/webp">
                                    
                            <source media="(min-width: 320px)" 
                                    srcset="">
                            <img src="#" alt="Макети" width="92">
                        </picture>
                        <p class="model-examples__subtitle">МАКЕТИ</p>
                    </div>
                </li>
                <li class="model-examples__list-item">
                    <div class="model-examples__thump-position">
                        <picture class="model-examples__picture">
                            <source media="(min-width: 1444px)" 
                                    srcset="" 
                                    type="image/webp"> 
            
                            <source media="(min-width: 1444px)" 
                                    srcset="">
            
                            <source media="(min-width: 768px)" 
                                    srcset="" 
                                    type="image/webp">
                            
                            <source media="(min-width: 768px)" 
                                    srcset="">
            
                            <source media="(min-width: 320px)" 
                                    srcset="" 
                                    type="image/webp">
                                    
                            <source media="(min-width: 320px)" 
                                    srcset="">
                            <img src="#" alt="Декор" width="92">
                        </picture>
                        <p class="model-examples__subtitle">ДЕКОР</p>
                    </div>
                </li>
                <li class="model-examples__list-item">
                    <div class="model-examples__thump-position">
                        <picture class="model-examples__picture">
                            <source media="(min-width: 1444px)" 
                                    srcset="" 
                                    type="image/webp"> 
            
                            <source media="(min-width: 1444px)" 
                                    srcset="">
            
                            <source media="(min-width: 768px)" 
                                    srcset="" 
                                    type="image/webp">
                            
                            <source media="(min-width: 768px)" 
                                    srcset="">
            
                            <source media="(min-width: 320px)" 
                                    srcset="" 
                                    type="image/webp">
                                    
                            <source media="(min-width: 320px)" 
                                    srcset="">
                            <img src="#" alt="Корпоративний дизайн" width="92">
                        </picture>
                        <p class="model-examples__subtitle">КОРПОРАТИВНИЙ ДИЗАЙН</p>
                    </div>
                </li>
            </ul>            
        </div>
    </section>
    

    <!-- Process Description -->
    <section class="process-section">
        <div class="container">
            <h2 class="visually-hidden">#</h2>

            <ul class="process__list">
                <li class="process__list-item">
                    <picture class="process__picture">
                        <source media="(min-width: 1444px)" 
                                srcset="" 
                                type="image/webp">

                        <source media="(min-width: 1444px)" 
                                srcset="">

                        <source media="(min-width: 768px)" 
                                srcset="" 
                                type="image/webp">

                        <source media="(min-width: 768px)" 
                                srcset="">

                        <source media="(min-width: 320px)" 
                                srcset="" 
                                type="image/webp">

                        <source media="(min-width: 320px)" 
                                srcset="">
                        <img 
                            src="#" 
                            alt="Макет Ейфелевої вежі" 
                            width="280">                    
                    </picture>
                </li>

                <li class="process__list-item">
                    <p class="process__description">
                        <span class="process__description-name">
                            3D-друк
                        </span>- ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D
                         принтера.
                    </p>

                    <p class="process__description">
                        Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах автоматизованого
                        проектування.
                    </p>

                    <p class="process__description">
                        3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.
                    </p>

                    <button type="button" class="">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
                </li>
            </ul>

            <ul class="process__list">
                <li class="process__list-item">
                    <picture class="process__picture">
                        <source media="(min-width: 1444px)" srcset="" type="image/webp">
                    
                        <source media="(min-width: 1444px)" srcset="">
                    
                        <source media="(min-width: 768px)" srcset="" type="image/webp">
                    
                        <source media="(min-width: 768px)" srcset="">
                    
                        <source media="(min-width: 320px)" srcset="" type="image/webp">
                    
                        <source media="(min-width: 320px)" srcset="">
                        <img src="#" alt="Процес розробки 3D-моделі" width="280">
                    </picture>
                </li>

                <li class="process__list-item">
                    <p class="process__description">
                        <span class="process__description-name">3D-моделювання</span>
                        - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
                        спеціалізованого програмного забезпечення.
                    </p>

                    <p class="process__description">
                        Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
                    </p>

                    <p class="process__description">
                        Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.
                    </p>

                    <button type="button" class="">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
                </li>
            </ul>

            <ul class="process__list">
                <li class="process__list-item">
                    <picture class="process__picture">
                        <source media="(min-width: 1444px)" srcset="" type="image/webp">
                    
                        <source media="(min-width: 1444px)" srcset="">
                    
                        <source media="(min-width: 768px)" srcset="" type="image/webp">
                    
                        <source media="(min-width: 768px)" srcset="">
                    
                        <source media="(min-width: 320px)" srcset="" type="image/webp">
                    
                        <source media="(min-width: 320px)" srcset="">
                        <img src="#" alt="3D-модель Арістотеля" width="280">
                    </picture>
                </li>

                <li class="process__list-item">
                    <p class="process__description">
                        <span class="process__description-name">3D-сканування</span>
                        - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.
                    </p>

                    <p class="process__description">
                        Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації 
                        в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.
                    </p>

                    <button type="button" class="">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
                </li>
            </ul>

        </div>

    </section>

    


</body>
</html>