.gallery {
  padding-top: 52px;
  padding-bottom: 52px;
}

.gallery__desc {
  font-size: 16px;
  line-height: 1.26;
  color: #487996;
  margin-top: 8px;
}

.gallery__item:not(:last-child) {
  margin-bottom: 24px;
}
.gallery__link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .gallery__content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-right: -18px;
  }
  .gallery__item {
    flex-basis: calc((100% - 36px) / 2);
    margin-right: 18px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1444px) {
  .gallery__desc {
    font-size: 18px;
  }
  .gallery__item {
    flex-basis: calc((100% - 52px) / 2);
  }
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
