@media screen and (min-width: 320px) and (max-width: 767px) {
  .more-foto__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .more-foto__item {
    margin-bottom: 32px;
    height: 720px;
    overflow-y: scroll;
  }
  .more-foto__list:not(:last-child) {
    margin-bottom: 16px;
  }
  .more-foto__img {
    margin: 0 auto;
  }
  .more-foto__btn {
    margin-bottom: 76px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1443px) {
  .more-foto__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 32px;
  }
  .more-foto__item {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 56px;
  }
  .more-foto__list {
    margin: 9px;
  }
  .more-foto__btn {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1444px) {
  .more-foto__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 52px;
  }
  .more-foto__item {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
    margin-bottom: 32px;
  }
  .more-foto__list {
    margin: 16px;
  }
  .more-foto__btn {
    margin-bottom: 100px;
  }
}
.more-foto__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 50px;
  width: 45px;
  background-image: url(../images/SVG-icon/icons/load_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  height: 45px;
}
.more-foto__title {
  font-style: normal;
  font-weight: bold;
  color: #487996;
}
.more-foto__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.8);
  z-index: 100;
  transition-duration: 750ms;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.more-foto__backdrop-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backdrop__btn-close {
  background-color: rgba(43, 43, 43, 0.8);
  border-radius: 50%;
  border: none;
  margin-left: 95%;
  margin-top: 1%;
  color: aliceblue;
}
