.mobile-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: var(--primary-white-color);
  transition: opacity 500ms linear, visibility 500ms linear;

  @media screen and (min-width: 1444px) {
    display: none;
  }
}

.header-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 29px 0;

  @include for-tablet {
    justify-content: space-between;
    padding: 20px 0;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-nav {
  text-align: center;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-nav__link {
  position: relative;
  @include font(24px, 700, 1.25);
  color: var(--accent-color);
  transition: color 250ms linear;

  &:hover,
  &:focus {
    // color: var(--secondary-text-color);
    color: var(--primary-white-color);
    text-shadow: 0px 0px 3px #487996;
    mix-blend-mode: multiply;
  }
}

.current {
  color: var(--primary-white-color);
  text-shadow: 0px 0px 3px #487996;
  mix-blend-mode: multiply;

  @include for-phone {
    border: none;
  }
}

.mobile-nav__sub {
  margin-top: 24px;
}

.mobile-nav__link--sub {
  @include font(24px, 500, 1.25);
}

.mobile-nav__link--sub::before {
  position: absolute;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 11px;
  background: var(--accent-color);
  border-radius: 3px 0px;
}

.mobile-nav__link--sub:first-child::before {
  left: -20px;
  top: 11px;
}
