.hero__title {
  @font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/CeraPro-Bold.woff') format('woff'),
      url('../fonts/CeraPro-Bold.woff2') format('woff2');
  }
  font-size: 24px;
  line-height: 30px;
  @include font(24px, 700, 1.25);

  color: var(--accent-color);
}
