<!-- contacts section -->
<section class="contacts-section">
  <div class="container contacts-data_container">
    <div class="contacts-data">
      <ul class="contacts-data__list">
        <li class="contacts-data__item">
          <h3 class="contacts-data__title">ТЕЛЕФОНИ</h3>
          <p class="contacts-data__description">+38 (095) -73-84-551</p>
          <p class="contacts-data__description">+38 (095) -73-84-551</p>
        </li>
        <li class="contacts-data__item">
          <h3 class="contacts-data__title">Email</h3>
          <p class="contacts-data__description">3dfreedom.info@gmail.com</p>
        </li>
        <li class="contacts-data__item">
          <h3 class="contacts-data__title">Робочий час</h3>
          <p class="contacts-data__description">
            <span class="days">Пн-пт:</span>
            з 8:00 до 19:00
          </p>
          <p class="contacts-data__description">
           <span class="days">Сб, Нд:</span>
            з 10:00 до 17:00
          </p>
          <p class="mosaic-img"></p>
        </li>            
      </ul>        
    </div>
  </div>
</section>